<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tamagotchi</title>
  </head>
  <body>
    <h1>Create your Tamagotchi!</h1>
    <form id="formOne" action="/tamagotchi/create" method="post">
      <label for="name">Insert what you would like to name your Tamagotchi:</label>
      <input type="text" name="name" id="name">
      <button type="submit" name="btn">Generate Tamagotchi</button>
    </form>
  </body>
</html>
